In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from datetime import *

In [ ]:
pd.set_option('display.colheader_justify', 'center')
pd.set_option('max_colwidth', 200)

In [ ]:
# dfy = pd.read_csv("/content/drive/MyDrive/Office/rnd/SSv4/data/y.csv", index_col=0)
dfx = pd.read_csv("/content/drive/MyDrive/Office/rnd/SSv4/data/all_data.csv")
dfx["date_key"] = pd.to_datetime(dfx["date_key"], format="%Y%m%d")

In [ ]:
# dfx2 = pd.read_excel("/content/drive/MyDrive/Office/rnd/SSv4/data/compsaa_file2_20200701_20201231.xlsx")
# dfx2["date_key"] = pd.to_datetime(dfx2["date_key"], format="%Y%m%d")

In [ ]:
dfx["date_key"] = pd.to_datetime(dfx["date_key"], format="%Y%m%d")
# dfy['date_time'] =  pd.to_datetime(dfy['date_time'], infer_datetime_format=True)

# v1

In [ ]:
#####################################

from pandas.core.arrays import datetimes
uniques = list(set(dfx['sku']))

skus_with_no_comment = []
total_rows_with_this_sku = []
rows_with_no_comment_under_this_sku = []
rows_with_comments_under_this_sku = []
percentage_of_no_comment = []
highest_date_with_this_sku = []
lowest_date_with_this_sku = []
max_date_with_nocom = []
min_date_with_nocom = []
last_obs_far = []
last_obs_near = []
obs_near_close_to_30days = []

def create_dataframe():

  df1 = pd.DataFrame(list(zip(skus_with_no_comment, total_rows_with_this_sku, rows_with_no_comment_under_this_sku, 
                              rows_with_comments_under_this_sku, percentage_of_no_comment, highest_date_with_this_sku, lowest_date_with_this_sku, 
                              max_date_with_nocom, min_date_with_nocom, 
                              last_obs_far, last_obs_near, obs_near_close_to_30days)), 
                     columns = ["skus_with_no_comment", "total_rows", "rows_with_no_comment", 
                                "rows_with_comments", "no_comment_percentage", "highest_date", "lowest_date", "max_date_with_nocom", "min_date_with_nocom", 
                                "last_obs_far", "last_obs_near", "obs_near_close_to_30days"])

  return df1



def find_data(sku, df):

  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  # date = pd.to_datetime("today").date()
  
  date = "2021-10-12"  # Format: YYYY-MM-DD
  date = datetime.strptime(date, '%Y-%m-%d').date()
  
  # if df_n['total_comment_num'].isna().sum() > 0 or df_n['total_comment_num'] == 0.0:
  if ((df_n['total_comment_num'].isna().sum() > 0) | (df_n['total_comment_num'] == 0.0)).any():

    skus_with_no_comment.append(sku)
    total_rows_with_this_sku.append(len(df_n))
    rows_with_no_comment = len(df_n[(df_n['total_comment_num'].isna()) | (df_n['total_comment_num'] == 0.0)])
    rows_with_no_comment_under_this_sku.append(rows_with_no_comment)
    rows_with_comments_under_this_sku.append(len(df_n) - rows_with_no_comment)
    percentage_of_no_comment.append((df_n['total_comment_num'].isna().sum() / len(df_n)) * 100)
    highest_date_with_this_sku.append(df_n.loc[dfx['sku'] == sku, 'date_key'].max().date())
    lowest_date_with_this_sku.append(df_n.loc[dfx['sku'] == sku, 'date_key'].min().date())
    max_date_with_nocom.append(df_n.loc[(dfx['sku'] == sku) & (dfx['total_comment_num'].isna()),  'date_key'].max().date())
    min_date_with_nocom.append(df_n.loc[(dfx['sku'] == sku) & (dfx['total_comment_num'].isna()),  'date_key'].min().date())

    last_obs_far_value = 0
    last_obs_near_value = 0
    obs_near_close_to_30days_value = 0

    """
    last_obs_far.append()
    last_obs_near.append()
    obs_near_close_to_30days.append()
    """

    # last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - pd.to_datetime("today").date()).dt.days))
    last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - date).dt.days))
    
    if (len(df_n) - rows_with_no_comment) > 1:
      if last_obs_day_diff > 45:
        last_obs_far_value = 1
      else:
        last_obs_near_value = 1
      
        # thirty_days_ago = datetime.today().date() - timedelta(days=30)
        thirty_days_ago = date - timedelta(days=30)

        last_obs_day_diff30 = min(np.absolute((df_n['date_key'].dt.date - thirty_days_ago).dt.days))

        if last_obs_day_diff30 < 5:
          obs_near_close_to_30days_value = 1

    last_obs_far.append(last_obs_far_value)
    last_obs_near.append(last_obs_near_value)
    obs_near_close_to_30days.append(obs_near_close_to_30days_value)
  

  return create_dataframe()


def get_data(i, f):

  skus_with_no_comment.clear()
  total_rows_with_this_sku.clear()
  rows_with_no_comment_under_this_sku.clear()
  rows_with_comments_under_this_sku.clear()
  percentage_of_no_comment.clear()
  highest_date_with_this_sku.clear()
  lowest_date_with_this_sku.clear()
  max_date_with_nocom.clear()
  min_date_with_nocom.clear()
  last_obs_far.clear()
  last_obs_near.clear()
  obs_near_close_to_30days.clear()
  

  for s in uniques[i:f]:
    df = find_data(s, dfx)

  return df


df_test = get_data(0, 500)
df_test

,skus_with_no_comment,total_rows,rows_with_no_comment,rows_with_comments,no_comment_percentage,highest_date,lowest_date,max_date_with_nocom,min_date_with_nocom,last_obs_far,last_obs_near,obs_near_close_to_30days
0,72497496064,7,7,0,100.000000,2020-10-02,2020-08-19,2020-10-02,2020-08-19,0,0,0
1,100013965313,50,25,25,50.000000,2022-02-28,2021-09-28,2022-02-28,2021-09-28,0,1,0
2,26916683778,11,10,1,90.909091,2020-06-25,2020-01-08,2020-06-25,2020-01-08,0,0,0
3,57662242818,60,37,23,61.666667,2020-08-21,2020-01-03,2020-08-13,2020-01-03,1,0,0
4,10023432093697,1,1,0,100.000000,2020-11-07,2020-11-07,2020-11-07,2020-11-07,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
491,56839111570,5,5,0,100.000000,2020-01-16,2020-01-02,2020-01-16,2020-01-02,0,0,0
492,60549497747,4,4,0,100.000000,2020-02-04,2020-01-08,2020-02-04,2020-01-08,0,0,0
493,37403493268,16,15,1,93.750000,2020-05-07,2020-01-23,2020-05-06,2020-01-23,0,0,0
494,37403493269,7,7,0,100.000000,2020-08-13,2020-01-03,2020-08-13,2020-01-03,0,0,0
495,60549497748,4,4,0,100.000000,2020-02-04,2020-01-08,2020-02-04,2020-01-08,0,0,0

|index|skus\_with\_no\_comment|total\_rows|rows\_with\_no\_comment|rows\_with\_comments|no\_comment\_percentage|highest\_date|lowest\_date|max\_date\_with\_nocom|min\_date\_with\_nocom|last\_obs\_far|last\_obs\_near|obs\_near\_close\_to\_30days|
|---|---|---|---|---|---|---|---|---|---|---|---|---|
|0|72497496064|7|7|0|100\.0|2020-10-02|2020-08-19|2020-10-02|2020-08-19|0|0|0|
|1|100013965313|50|25|25|50\.0|2022-02-28|2021-09-28|2022-02-28|2021-09-28|0|1|0|
|2|26916683778|11|10|1|90\.9090909090909|2020-06-25|2020-01-08|2020-06-25|2020-01-08|0|0|0|
|3|57662242818|60|37|23|61\.66666666666667|2020-08-21|2020-01-03|2020-08-13|2020-01-03|1|0|0|
|4|10023432093697|1|1|0|100\.0|2020-11-07|2020-11-07|2020-11-07|2020-11-07|0|0|0|
|5|60879273989|2|2|0|100\.0|2020-01-03|2020-01-02|2020-01-03|2020-01-02|0|0|0|
|6|10074718218|199|113|86|56\.78391959798995|2022-02-22|2020-01-02|2022-02-21|2020-01-02|0|1|0|
|7|68684349452|6|6|0|100\.0|2020-06-25|2020-06-10|2020-06-25|2020-06-10|0|0|0|
|8|70223921164|1|1|0|100\.0|2020-07-23|2020-07-23|2020-07-23|2020-07-23|0|0|0|
|9|71524417552|3|3|0|100\.0|2020-10-08|2020-07-15|2020-10-08|2020-07-15|0|0|0|
|10|10032823402513|16|16|0|62\.5|2021-08-03|2021-06-26|2021-07-29|2021-06-26|0|0|0|
|11|64831356946|89|53|36|59\.55056179775281|2021-08-04|2020-04-22|2021-08-04|2020-04-22|1|0|0|
|12|63543443473|31|20|11|64\.51612903225806|2021-06-26|2020-09-18|2021-06-26|2020-11-12|1|0|0|
|13|10032823402512|14|14|0|64\.28571428571429|2021-08-03|2021-06-26|2021-07-29|2021-06-26|0|0|0|
|14|100030480404|12|5|7|41\.66666666666667|2022-02-28|2022-01-16|2022-02-28|2022-01-29|1|0|0|
|15|71224524825|26|26|0|73\.07692307692307|2021-01-12|2020-07-09|2021-01-09|2020-07-09|0|0|0|
|16|28705554462|67|40|27|59\.70149253731343|2022-02-07|2020-10-08|2022-02-06|2020-10-08|1|0|0|
|17|10030991802402|70|40|30|57\.14285714285714|2022-02-28|2021-06-21|2022-02-28|2021-06-21|0|1|1|
|18|10035736084515|14|14|0|57\.14285714285714|2021-10-12|2021-08-28|2021-10-11|2021-08-28|0|0|0|
|19|10035736084516|16|16|0|56\.25|2021-10-12|2021-08-28|2021-10-11|2021-08-28|0|0|0|

In [ ]:
len(uniques)

152722

# v2

In [ ]:
#####################################

from pandas.core.arrays import datetimes

skus_with_no_comment = []
total_rows_with_this_sku = []
rows_with_no_comment_under_this_sku = []
rows_with_comments_under_this_sku = []
percentage_of_no_comment = []
highest_date_with_this_sku = []
lowest_date_with_this_sku = []
max_date_with_nocom = []
min_date_with_nocom = []
last_obs_far = []
last_obs_near = []
obs_near_close_to_30days = []
last_obs_day_diffs = []



bad_scene_ones = []
bad_scene_twos = []
bad_scene_threes = []
bad_scene_fours = []
bad_scene_fives = []


out = {}



def find_data(sku, df):

  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  # date = pd.to_datetime("today").date()
  
  date = "2021-10-12"  # Format: YYYY-MM-DD
  date = datetime.strptime(date, '%Y-%m-%d').date()
  
  # if df_n['total_comment_num'].isna().sum() > 0 or df_n['total_comment_num'] == 0.0:
  if ((df_n['total_comment_num'].isna().sum() > 0) | (df_n['total_comment_num'] == 0.0)).any():

    skus_with_no_comment.append(sku)
    
    total_rows_with_this_sku.append(len(df_n))
    
    rows_with_no_comment = len(df_n[(df_n['total_comment_num'].isna()) | (df_n['total_comment_num'] == 0.0)])
    rows_with_no_comment_under_this_sku.append(rows_with_no_comment)
    
    rows_with_comments = len(df_n) - rows_with_no_comment
    rows_with_comments_under_this_sku.append(rows_with_comments)
    
    percentage_of_no_comment.append((df_n['total_comment_num'].isna().sum() / len(df_n)) * 100)


    highest_date_with_this_sku.append(df_n['date_key'].max().date())
    lowest_date_with_this_sku.append(df_n['date_key'].min().date())
    
    max_date_with_nocom.append(df_n.loc[df['total_comment_num'].isna(), 'date_key'].max().date())
    min_date_with_nocom.append(df_n.loc[df['total_comment_num'].isna(), 'date_key'].min().date())


    last_obs_far_value = 0
    last_obs_near_value = 0
    obs_near_close_to_30days_value = 0


    # last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - pd.to_datetime("today").date()).dt.days))
    last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - date).dt.days))
    last_obs_day_diffs.append(last_obs_day_diff)
    
    if (len(df_n) - rows_with_no_comment) > 1:
      if last_obs_day_diff > 45:
        last_obs_far_value = 1 # 1= True
      else:
        last_obs_near_value = 1
      
        # thirty_days_ago = datetime.today().date() - timedelta(days=30)
        thirty_days_ago = date - timedelta(days=30)

        last_obs_day_diff30 = min(np.absolute((df_n['date_key'].dt.date - thirty_days_ago).dt.days))

        if last_obs_day_diff30 <= 5:
          obs_near_close_to_30days_value = 1

    last_obs_far.append(last_obs_far_value)
    last_obs_near.append(last_obs_near_value)
    obs_near_close_to_30days.append(obs_near_close_to_30days_value)


    out = {
           "sku": skus_with_no_comment,
           "total_rows": total_rows_with_this_sku,
           "rows_with_no_comment": rows_with_no_comment_under_this_sku,
           "rows_with_comments": rows_with_comments_under_this_sku,
           "no_comment_percentage": percentage_of_no_comment,
           "last_obs_day_diff": last_obs_day_diffs,
           "last_obs_fars": last_obs_far,
           "last_obs_nears": last_obs_near,
           "obs_near_close_to_30dayss": obs_near_close_to_30days,
           "highest_date": highest_date_with_this_sku,
           "lowest_date": lowest_date_with_this_sku,
           "max_date_nocom": max_date_with_nocom,
           "min_date_nocom": min_date_with_nocom,
          }



    # if rows_with_comments == 0:
    """
      get all the true valued rows with bad scenarios
    """

    # bad_scenes = {
    #               "sku": skus_with_no_comment,
    #               "bad_scene_one": bad_scene_ones,
    #               "bad_scene_two": bad_scene_twos,
    #               "bad_scene_three": bad_scene_threes,
    #               "bad_scene_four": bad_scene_fours,
    #               "bad_scene_five": bad_scene_fives
    #              }


  return pd.DataFrame(out).set_index(['sku'])


def get_data(i, f, df):

  uniques = list(set(df['sku']))

  for s in uniques[i:f]:
    dff = find_data(s, df)

  return dff

df_test = get_data(0, 200, dfx)
df_test

,total_rows,rows_with_no_comment,rows_with_comments,no_comment_percentage,last_obs_day_diff,last_obs_fars,last_obs_nears,obs_near_close_to_30dayss,highest_date,lowest_date,max_date_nocom,min_date_nocom
sku,,,,,,,,,,,,
72497496064,7,7,0,100.000000,375,0,0,0,2020-10-02,2020-08-19,2020-10-02,2020-08-19
100013965313,50,25,25,50.000000,0,0,1,0,2022-02-28,2021-09-28,2022-02-28,2021-09-28
26916683778,11,10,1,90.909091,474,0,0,0,2020-06-25,2020-01-08,2020-06-25,2020-01-08
57662242818,60,37,23,61.666667,417,1,0,0,2020-08-21,2020-01-03,2020-08-13,2020-01-03
10023432093697,1,1,0,100.000000,339,0,0,0,2020-11-07,2020-11-07,2020-11-07,2020-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...
10030812234070,27,27,0,66.666667,70,0,0,0,2021-08-03,2021-05-15,2021-07-29,2021-05-15
10030812234071,26,26,0,50.000000,70,0,0,0,2021-08-03,2021-05-15,2021-07-29,2021-05-15
42216194392,62,35,27,56.451613,0,0,1,0,2022-02-21,2020-11-08,2022-02-20,2020-11-08
10034319720793,9,9,0,44.444444,49,0,0,0,2021-08-24,2021-07-29,2021-08-22,2021-07-29
42216194389,17,8,9,47.058824,268,1,0,0,2021-01-17,2020-10-31,2021-01-15,2020-10-31

In [ ]:
len(uniques)

152722

In [ ]:
uniques

[72497496064,
 100013965313,
 26916683778,
 57662242818,
 10023432093697,
 60879273989,
 10074718218,
 68684349452,
 70223921164,
 71524417552,
 10032823402513,
 64831356946,
 63543443473,
 10032823402512,
 100030480404,
 71224524825,
 28705554462,
 10030991802402,
 10035736084515,
 10035736084516,
 10035736084517,
 10035736084518,
 69428314149,
 10031492235304,
 10031492235305,
 60038053930,
 60038053931,
 60038053932,
 10031492235306,
 10041578749998,
 10031492235307,
 10040943837229,
 10041578749997,
 10041578749996,
 10040815622726,
 10031492235308,
 66297004077,
 10024937324598,
 10040815622727,
 10041578749999,
 10031187099698,
 10041549652017,
 10671095868,
 10043335639102,
 1952448575,
 1952448576,
 10043335639104,
 10043335639106,
 100010033219,
 10043335639103,
 100010033221,
 10043335639107,
 10022610796615,
 66688122952,
 70066896968,
 70066896970,
 70066896969,
 100021567560,
 69394497612,
 12571639889,
 16144400473,
 16144400474,
 69471567963,
 10026064019546,
 10026381433525,
 10044792635490,
 52015399013,
 52015399014,
 56214945893,
 10041791086694,
 68416700521,
 10024593129580,
 10035675791468,
 66030141552,
 57664077937,
 66030141553,
 66030141555,
 66030141554,
 66030141557,
 66030141558,
 66030141559,
 66030141556,
 11670913144,
 10026861720414,
 25565069435,
 70529581181,
 72329986174,
 70529581182,
 10038326591616,
 10038326591617,
 16593715330,
 10038326591618,
 100028645502,
 71809106048,
 10030486126733,
 10030486126734,
 65882030226,
 10031611773074,
 10033185161368,
 46175092891,
 46175092892,
 46175092893,
 46175092894,
 10026412408989,
 10026412408988,
 11065622691,
 66615509161,
 66615509162,
 57672728747,
 25150095532,
 25150095531,
 10022816579754,
 10022816579753,
 10025187672241,
 70719897778,
 65114996918,
 1988886711,
 1988886712,
 1988886713,
 65114996919,
 1988886714,
 1988886716,
 1988886717,
 54979199165,
 32953598143,
 32953598144,
 49939480769,
 10024338587835,
 30128734403,
 10035399753923,
 30128734404,
 10028680216765,
 10036084447843,
 10026325901513,
 25150095562,
 66083356875,
 10030031044813,
 10034284593359,
 10029034373330,
 10020603035875,
 10038468149480,
 67086319856,
 19983499505,
 19983499506,
 10040264892413,
 10041549652016,
 54625566969,
 10033780490491,
 10035746046204,
 10026580443389,
 21595160836,
 55649239302,
 55649239303,
 10038018572560,
 57149227281,
 36522164504,
 36522164505,
 67274801434,
 10043476148509,
 70076072222,
 69335515425,
 69335515426,
 69335515428,
 52093518121,
 10417078570,
 64532775212,
 55125475628,
 32277528879,
 32277528880,
 32277528881,
 10024763785521,
 32277528883,
 17745314100,
 32277528885,
 32277528884,
 10024763785524,
 10024763785523,
 46696759600,
 65649246522,
 32277528882,
 66283110716,
 66283110717,
 10024865497406,
 10024865497407,
 10024865497408,
 10024865497409,
 10024865497410,
 57876152649,
 60745318729,
 10022000263502,
 27341881681,
 10031543353682,
 10030812234067,
 10030812234068,
 11065622869,
 10030812234070,
 10030812234071,
 42216194392,
 10034319720793,
 42216194389,
 42216194391,
 65035829596,
 65035829597,
 10034319720794,
 10029274235231,
 10042188235104,
 10042188235105,
 10042188235106,
 10029274235232,
 70262456676,
 10023432094052,
 10020931502438,
 10020931502439,
 10020931502440,
 10020931502441,
 19135988074,
 10026190635371,
 10020931502444,
 10026190635372,
 10020931502442,
 10020931502443,
 67773544024,
 62851907954,
 62851907955,
 64549814649,
 63267406201,
 10044174238075,
 3408252,
 19135988093,
 10039104897406,
 67773544028,
 10039104897407,
 10035399754113,
 10039104897405,
 62622007683,
 10028644565379,
 54440755589,
 10039104897408,
 54477717895,
 68675174795,
 10025172468110,
 67773544031,
 10026468770194,
 63579357592,
 100019732892,
 100019732894,
 10027460489935,
 61738058147,
 67416621481,
 100019732910,
 68748575152,
 64678527411,
 61702930874,
 67972628923,
 12835094971,
 10024865492291,
 100019732924,
 100019732926,
 100019732928,
 70747161027,
 69894406595,
 66142339525,
 10038264463815,
 10027781325256,
 65388151243,
 10040608817613,
 10032351805901,
 10040608817615,
 10023843660240,
 10025651667409,
 10025651667410,
 10025651667408,
 10040608817616,
 46315864533,
 10040608817618,
 10035329761744,
 70001099224,
 70001099225,
 70001099226,
 70001099227,
 70001099228,
 70001099229,
 40115110366,
 28663874013,
 28663874016,
 28663874017,
 67805118946,
 28663874014,
 10040379179490,
 10040379179489,
 10040379179487,
 65425113579,
 65425113580,
 26471301612,
 10029607682541,
 10035704889839,
 10038763586034,
 10032277881332,
 10020603036152,
 66802680315,
 10040726782461,
 10023432290813,
 67598549506,
 67598549507,
 67598549508,
 67598549509,
 10033465655809,
 67806167562,
 67598549519,
 67598549520,
 67598549521,
 67598549522,
 33624094024,
 100015014422,
 59153056279,
 59153056280,
 33624094025,
 69912494620,
 69912494621,
 67598549534,
 67598549532,
 67598549535,
 62111351329,
 31054103074,
 100016325150,
 33624094027,
 67598549533,
 10023734084129,
 10043511538212,
 65353024040,
 10043511538213,
 33624094029,
 72012268079,
 66790621745,
 10033074274866,
 33624094030,
 10023787037236,
 72124727863,
 71902954047,
 71902954048,
 71902954049,
 60549497410,
 10031165080135,
 10039581999708,
 67117253215,
 67771040353,
 10026660397665,
 10025170109028,
 100016849512,
 71571082547,
 69653496431,
 10033281630834,
 100016849534,
 10026580443774,
 10026580443775,
 61385474689,
 10026411885196,
 10026411885197,
 10042662523393,
 43711464088,
 72491991712,
 10035543671457,
 10035543671458,
 10024865497766,
 10024865497767,
 10024865497768,
 10035707898437,
 10027074323122,
 58991575731,
 10027074323123,
 10027074323124,
 10027074323125,
 10039335322295,
 10028323439289,
 65223525061,
 57846268616,
 10020848403144,
 10031449244362,
 10029207248276,
 10033337991890,
 10030057259731,
 10033337991889,
 10030057259733,
 10030057259734,
 10030057259735,
 10030057259736,
 10030057259737,
 10030057259738,
 63854609115,
 10030057259739,
 10030057259740,
 10030057259741,
 67661988577,
 10025172468451,
 10025172468452,
 10025172468453,
 70463259363,
 10025172468455,
 10025172468456,
 10036063240937,
 10025172468458,
 1567884010,
 10025172468457,
 10023348470509,
 10023348470510,
 100014490350,
 10036063240938,
 66144699121,
 10025172468459,
 10026500227827,
 10026652795627,
 10026656727797,
 66591654646,
 10026652795630,
 10026652795635,
 10026652795636,
 10026652795633,
 10030289257211,
 10030289257212,
 68688282365,
 10030289257213,
 100014490368,
 34147402498,
 69035885315,
 10037144584964,
 10036413465346,
 69035885314,
 10022333186831,
 45237928721,
 66668987156,
 57876153108,
 10036956103446,
 10041802621717,
 10041802621716,
 62786372377,
 10026655154969,
 10035738182429,
 10035738182430,
 65569817380,
 100014490414,
 10025520071471,
 10025520071470,
 65492747057,
 62415438644,
 71975830326,
 29571154748,
 66684715838,
 66684715839,
 10029439910728,
 60699444041,
 10026514921958,
 72208614223,
 10043511538513,
 10043511538514,
 10026514921959,
 10022548673470,
 54477718358,
 71968490327,
 71968490328,
 10024951219033,
 71968490326,
 10022548673471,
 68204102492,
 69394498396,
 10026411885405,
 10034604145231,
 10034604145232,
 10026514921963,
 70133482345,
 70133482346,
 10030902149994,
 10030902149993,
 10030902149995,
 10021287494511,
 71518913392,
 10021287494513,
 10021287494512,
 71518913393,
 61956162420,
 70687654773,
 10043036050957,
 71307363191,
 10043036050958,
 10044462859122,
 10044462859123,
 71351403398,
 41192784775,
 10031851373449,
 10040794416011,
 14647821196,
 14647821197,
 52623573902,
 68323902351,
 10040794416013,
 66042725262,
 56839111570,
 60549497747,
 37403493268,
 37403493269,
 60549497748,
 10030364230549,
 10021731304340,
 10039876912026,
 64674071452,
 58557203357,
 58557203358,
 10020936221604,
 10031585297317,
 10031585297318,
 10033424761766,
 59935032236,
 14402192303,
 14402192304,
 10039394304947,
 48203301812,
 10029499941816,
 58788152249,
 67003745211,
 67003745212,
 58641351615,
 58641351616,
 58641351617,
 58641351618,
 67833693123,
 67833693124,
 58641351619,
 100005053382,
 10038858628396,
 10032856957888,
 10024204895177,
 10024204895178,
 52840629195,
 10020182819788,
 10020182819789,
 10024204895179,
 68738614217,
 10044458664906,
 10044458664905,
 10030172341208,
 67657008090,
 67657008091,
 67657008092,
 10031554130752,
 70703907802,
 10031554130753,
 7341025,
 100006888420,
 64114394085,
 48149300197,
 100008461285,
 10043607483374,
 49889936371,
 49889936372,
 10038878405622,
 7341047,
 64577602552,
 100006888444,
 10040431346693,
 1981285382,
 1981285384,
 10025484420105,
 10024749630473,
 10026368631819,
 10024749630474,
 60382249999,
 72341521423,
 41138258962,
 41138258963,
 41138258964,
 41138258965,
 10033845240851,
 72341521430,
 10031542567960,
 66591917081,
 66591917082,
 10039114073111,
 10033841570843,
 10033775510557,
 54201156638,
 54201156639,
 10036934345760,
 72341521441,
 10036934345759,
 10043313357853,
 57444140068,
 100001645604,
 59282818085,
 10029245924391,
 10022644614185,
 10022644614186,
 10025762554923,
 10024103707692,
 10024103707691,
 10039774966608,
 10039774966609,
 10021942661715,
 72341521459,
 72341521458,
 10026514646069,
 10026514646070,
 10026514646068,
 10034259428408,
 10034259428409,
 10026514646073,
 10026514646072,
 10026514646074,
 70494979133,
 10037221917756,
 69428315201,
 10022627312713,
 10039021536329,
 60092056652,
 72304821325,
 72304821326,
 72304821327,
 10034418549840,
 10494149713,
 10494149714,
 72304821330,
 10026570482770,
 10022322963538,
 72304821333,
 72304821335,
 66657191000,
 72304821337,
 44137710682,
 72304821339,
 72304821332,
 72304821334,
 72304821342,
 72304821343,
 64555058272,
 72304821341,
 72304821344,
 72304821340,
 10026692379751,
 10026692379752,
 10026692379753,
 10026692379754,
 58712392811,
 10026692379755,
 10026692379756,
 10026580444270,
 1974994036,
 52758054006,
 1957954679,
 66232255608,
 15353250942,
 71427425411,
 100011082884,
 49484399750,
 71061734535,
 43094901896,
 71061734534,
 71061734537,
 71061734538,
 71061734540,
 71061734541,
 71061734536,
 71061734539,
 10025581675666,
 10032065021078,
 10025995338904,
 10032185083033,
 10040504222874,
 10040504222875,
 10040504222876,
 10030718911644,
 10030718911645,
 47713879196,
 10032539870386,
 54071133347,
 54071133348,
 10023300760742,
 787623,
 64858621096,
 68410672295,
 10039591699623,
 10039591699625,
 10030080591020,
 10039591699626,
 787633,
 55143826610,
 70668518579,
 10032065021112,
 7341241,
 71251264697,
 60549498043,
 71251264698,
 10023813776573,
 10035947635902,
 10035947635903,
 787648,
 67804333249,
 10035947635905,
 70110414019,
 10026580444356,
 7341253,
 10026373088453,
 70494979271,
 787656,
 10026373088457,
 10026373088458,
 10026373088451,
 10028895962316,
 10028895962317,
 10026373088461,
 10026373088456,
 10026373088455,
 10026373088459,
 100011345106,
 10028892292310,
 66685502679,
 66685502680,
 39539442906,
 10026378331355,
 10033538008291,
 57998574820,
 10026767090917,
 10026767090918,
 10026767090919,
 10026767090920,
 67422389482,
 55767205101,
 10026767090926,
 55767205103,
 10030793098480,
 55767205102,
 10037221917936,
 10026767090925,
 10021632214260,
 59888108798,
 59800028418,
 10026567861509,
 10026567861510,
 10024309753093,
 10025482323208,
 54516778249,
 10041025627404,
 10033399885089,
 10026469295376,
 100012918038,
 10519053591,
 69311004117,
 100015801626,
 7079196,
 10033399885092,
 10041509545247,
 10038099576097,
 10033399885093,
 10041255003430,
 10039114073382,
 63828657448,
 10033399885094,
 10028988499241,
 65882031405,
 10025172469038,
 28516025648,
 72084358449,
 7079218,
 72084358451,
 7079220,
 72084358450,
 10022037226800,
 10039335322933,
 10901521720,
 70116414696,
 10026580444474,
 10027740693817,
 61214819646,
 10041515574590,
 10027047468408,
 10026604823880,
 10026604823881,
 10026604823882,
 10027047468409,
 54199321933,
 10022723519823,
 66679473489,
 10032520103253,
 62126032214,
 69354390875,
 10022627312988,
 10023427638624,
 57593300329,
 10024956200298,
 10024956200299,
 59890992496,
 63141578097,
 61389931890,
 61389931891,
 10026210559357,
 100001645952,
 10023429473671,
 56839112072,
 10027437131148,
 25578440078,
 10032065021326,
 10032065021327,
 1762395536,
 10023913129362,
 10028191341095,
 10444604822,
 10025037202839,
 10039117668188,
 62880482724,
 62880482725,
 62880482726,
 66999027112,
 66999027113,
 10037621949871,
 68424041904,
 68424041905,
 10027437131186,
 67436545459,
 10037621949872,
 10039117668189,
 49984832952,
 54391473593,
 10027313399225,
 10023432095163,
 62294066621,
 62294066622,
 10029274236357,
 10029274236358,
 10029274236359,
 100009089077,
 71105775052,
 65223525837,
 10036934346189,
 10036934346188,
 71814874575,
 10039591699918,
 68507141586,
 68507141587,
 68507141588,
 68507141589,
 68507141590,
 43826546135,
 68507141592,
 68507141591,
 7079386,
 68507141595,
 68507141596,
 68507141597,
 68507141594,
 68507141599,
 10553394656,
 10553394657,
 10553394658,
 68507141600,
 70747686372,
 70747686373,
 55667328486,
 100009089081,
 24418715115,
 100010821114,
 10041361958401,
 10020850501122,
 10038268921347,
 10038268921346,
 26814449159,
 10026685564423,
 10029613975048,
 11031807498,
 10028764890632,
 10026003465737,
 10028764890631,
 10031902230033,
 100012656149,
 70421317145,
 66690745886,
 61309715999,
 58743850532,
 66516682276,
 100011083300,
 34260911657,
 55622764074,
 55622764073,
 71382337068,
 10021955962410,
 23117956653,
 71382337070,
 71382337069,
 71382337071,
 36970694187,
 10042581976627,
 10021432198709,
 64808027702,
 10020689282618,
 66329249339,
 10028403918396,
 66329249341,
 100010821182,
 66947122751,
 65289324094,
 10028403918399,
 60400862786,
 10028403918398,
 66329249340,
 10028403918397,
 10040133813838,
 57876153935,
 30168319568,
 28681700945,
 54041511506,
 54041511507,
 54041511508,
 10040133813839,
 71091619407,
 54041511511,
 10031212529238,
 28442363482,
 10034247894626,
 71652345446,
 10037809645159,
 10037809645160,
 10023403521642,
 100009089109,
 1589380718,
 15077475952,
 10026487907954,
 55996581491,
 55996581492,
 10028563564148,
 57990186615,
 10039439132281,
 10039439132282,
 10020583376507,
 10039439132284,
 10039439132285,
 10039439132286,
 10039439132287,
 10039439132283,
 10043698972283,
 10043698972284,
 72085809827,
 66069726859,
 66069726860,
 10025415739023,
 1966081687,
 1966081688,
 1966081689,
 1966081692,
 10038654011038,
 10034414618276,
 10034414618277,
 10034414618278,
 10029274236587,
 10029274236588,
 10029274236589,
 69815502511,
 1991509681,
 58198066868,
 10030812234069,
 28904785590,
 29318186680,
 10033957177017,
 10034243962552,
 10033957177019,
 10033957177018,
 10024862615229,
 10040193844932,
 10040193844933,
 10040193844934,
 68675176139,
 67451750097,
 67451750098,
 67451750099,
 67451750100,
 10041840109271,
 10020331194073,
 10020331194074,
 64752715485,
 10032464946163,
 10026462742240,
 10026462742241,
 10026462742242,
 10043036111031,
 10033399858922,
 66514323181,
 10020927833838,
 65688045296,
 1016596209,
 56205248244,
 56205248245,
 56205248246,
 64256739062,
 56205248248,
 56205248249,
 56205248250,
 56205248251,
 56205248247,
 10024865498871,
 10032480782071,
 65605994239,
 10020495034113,
 10032913057539,
 10032913057540,
 52183697157,
 ...]

In [ ]:
date2 = "2021-10-12"  # Format: YYYY-MM-DD
date2 = datetime.strptime(date2, '%Y-%m-%d').date()

dftry = dfx.loc[dfx["sku"] == 57662242818]
day_diff = min(np.absolute((dftry['date_key'].dt.date - date2).dt.days))
 
day_diff

417

In [ ]:
print(df_test['lowest_date'].max())

2022-01-16

In [ ]:
#####################################

from pandas.core.arrays import datetimes

skus_with_no_comment = []
total_rows_with_this_sku = []
rows_with_no_comment_under_this_sku = []
rows_with_comments_under_this_sku = []
percentage_of_no_comment = []
highest_date_with_this_sku = []
lowest_date_with_this_sku = []
max_date_with_nocom = []
min_date_with_nocom = []
last_obs_far = []
last_obs_near = []
obs_near_close_to_30days = []
last_obs_day_diffs = []



def create_dataframe():

  df1 = pd.DataFrame(list(zip(skus_with_no_comment, total_rows_with_this_sku, rows_with_no_comment_under_this_sku, 
                              rows_with_comments_under_this_sku, percentage_of_no_comment, 
                              last_obs_day_diffs, last_obs_far, last_obs_near, obs_near_close_to_30days,
                              highest_date_with_this_sku, lowest_date_with_this_sku, 
                              max_date_with_nocom, min_date_with_nocom)), 
                     columns = ["skus_with_no_comment", "total_rows", "rows_with_no_comment", "rows_with_comments", "no_comment_percentage", 
                                "last_obs_day_diff", "last_obs_far", "last_obs_near", "obs_near_close_to_30days", 
                                "highest_date", "lowest_date", 
                                "max_date_with_nocom", "min_date_with_nocom"])

  return df1




def find_data(sku, df):

  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  # date = pd.to_datetime("today").date()
  
  date = "2021-10-12"  # Format: YYYY-MM-DD
  date = datetime.strptime(date, '%Y-%m-%d').date()
  
  # if df_n['total_comment_num'].isna().sum() > 0 or df_n['total_comment_num'] == 0.0:
  if ((df_n['total_comment_num'].isna().sum() > 0) | (df_n['total_comment_num'] == 0.0)).any():

    skus_with_no_comment.append(sku)
    total_rows_with_this_sku.append(len(df_n))

    rows_with_no_comment = len(df_n[(df_n['total_comment_num'].isna()) | (df_n['total_comment_num'] == 0.0)])
    rows_with_no_comment_under_this_sku.append(rows_with_no_comment)

    rows_with_comments = len(df_n) - rows_with_no_comment
    rows_with_comments_under_this_sku.append(rows_with_comments)

    # percentage_of_no_comment.append((df_n['total_comment_num'].isna().sum() / len(df_n)) * 100)
    percentage_of_no_comment.append((rows_with_no_comment / len(df_n)) * 100)

    highest_date_with_this_sku.append(df_n['date_key'].max().date())
    lowest_date_with_this_sku.append(df_n['date_key'].min().date())
    max_date_with_nocom.append(df_n.loc[df_n['total_comment_num'].isna(), 'date_key'].max().date())
    min_date_with_nocom.append(df_n.loc[df_n['total_comment_num'].isna(), 'date_key'].min().date())

    last_obs_far_value = 0
    last_obs_near_value = 0
    obs_near_close_to_30days_value = 0

    """
    last_obs_far.append()
    last_obs_near.append()
    obs_near_close_to_30days.append()
    """

    # last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - pd.to_datetime("today").date()).dt.days))
    last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - date).dt.days))

    last_obs_day_diffs.append(last_obs_day_diff)
    
    if (len(df_n) - rows_with_no_comment) > 1:
      if last_obs_day_diff > 45:
        last_obs_far_value = 1
      else:
        last_obs_near_value = 1

      
        # thirty_days_ago = datetime.today().date() - timedelta(days=30)
        thirty_days_ago = date - timedelta(days=30)

        last_obs_day_diff30 = min(np.absolute((df_n['date_key'].dt.date - thirty_days_ago).dt.days))

        if last_obs_day_diff30 < 5:
          obs_near_close_to_30days_value = 1

    last_obs_far.append(last_obs_far_value)
    last_obs_near.append(last_obs_near_value)
    obs_near_close_to_30days.append(obs_near_close_to_30days_value)
  

  return create_dataframe()


def get_data(i, f, df):

  skus_with_no_comment.clear()
  total_rows_with_this_sku.clear()
  rows_with_no_comment_under_this_sku.clear()
  rows_with_comments_under_this_sku.clear()
  percentage_of_no_comment.clear()
  highest_date_with_this_sku.clear()
  lowest_date_with_this_sku.clear()
  max_date_with_nocom.clear()
  min_date_with_nocom.clear()
  last_obs_far.clear()
  last_obs_near.clear()
  obs_near_close_to_30days.clear()
  last_obs_day_diffs.clear()
  

  uniques = list(set(df['sku']))

  for s in uniques[i:f]:
    dff = find_data(s, df)

  return dff


df_test = get_data(0, 1000, dfx)
df_test

,skus_with_no_comment,total_rows,rows_with_no_comment,rows_with_comments,no_comment_percentage,last_obs_day_diff,last_obs_far,last_obs_near,obs_near_close_to_30days,highest_date,lowest_date,max_date_with_nocom,min_date_with_nocom
0,72497496064,7,7,0,100.000000,375,0,0,0,2020-10-02,2020-08-19,2020-10-02,2020-08-19
1,100013965313,50,25,25,50.000000,0,0,1,0,2022-02-28,2021-09-28,2022-02-28,2021-09-28
2,26916683778,11,10,1,90.909091,474,0,0,0,2020-06-25,2020-01-08,2020-06-25,2020-01-08
3,57662242818,60,37,23,61.666667,417,1,0,0,2020-08-21,2020-01-03,2020-08-13,2020-01-03
4,10023432093697,1,1,0,100.000000,339,0,0,0,2020-11-07,2020-11-07,2020-11-07,2020-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,65605994239,61,39,22,63.934426,1,0,1,0,2021-12-27,2020-04-03,2021-12-27,2020-04-03
985,10020495034113,141,81,60,57.446809,0,0,1,1,2022-02-28,2020-08-28,2022-02-28,2020-08-28
986,10032913057539,9,9,0,100.000000,69,0,0,0,2021-08-04,2021-07-21,2021-08-04,2021-07-21
987,10032913057540,8,8,0,100.000000,69,0,0,0,2021-08-04,2021-07-20,2021-08-04,2021-07-20
988,52183697157,44,25,19,56.818182,495,1,0,0,2020-06-04,2020-01-02,2020-06-03,2020-01-02

In [ ]:
#####################################
#####################################
#####################################
#####################################

from pandas.core.arrays import datetimes

skus_with_no_comment = []
total_rows_with_this_sku = []
rows_with_no_comment_under_this_sku = []
rows_with_comments_under_this_sku = []
percentage_of_no_comment = []
highest_date_with_this_sku = []
lowest_date_with_this_sku = []
max_date_with_nocom = []
min_date_with_nocom = []
last_obs_far = []
last_obs_near = []
obs_near_close_to_30days = []
last_obs_day_diffs = []


badscene_one_lst = []
badscene_two_lst = []
badscene_three_lst = []
badscene_four_lst = []
badscene_five_lst = []
badscene_skus = []


def create_dataframe():

  df1 = pd.DataFrame(list(zip(skus_with_no_comment, total_rows_with_this_sku, rows_with_no_comment_under_this_sku, 
                              rows_with_comments_under_this_sku, percentage_of_no_comment, 
                              last_obs_day_diffs, last_obs_far, last_obs_near, obs_near_close_to_30days,
                              highest_date_with_this_sku, lowest_date_with_this_sku, 
                              max_date_with_nocom, min_date_with_nocom)), 
                     columns = ["skus_with_no_comment", "total_rows", "rows_with_no_comment", "rows_with_comments", "no_comment_percentage", 
                                "last_obs_day_diff", "last_obs_far", "last_obs_near", "obs_near_close_to_30days", 
                                "highest_date", "lowest_date", 
                                "max_date_with_nocom", "min_date_with_nocom"])

  return df1


def create_badscene_df():

  df1 = pd.DataFrame(list(zip(badscene_one_lst, badscene_two_lst, badscene_three_lst, badscene_four_lst, badscene_five_lst)), 
                     columns = ["badscenario_one", "badscenario_two", "badscenario_three", "badscenario_four", "badscenario_five"])

  return df1



def find_data(sku, df):

  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  # date = pd.to_datetime("today").date()
  
  date = "2021-10-12"  # Format: YYYY-MM-DD
  date = datetime.strptime(date, '%Y-%m-%d').date()
  
  # if df_n['total_comment_num'].isna().sum() > 0 or df_n['total_comment_num'] == 0.0:
  if ((df_n['total_comment_num'].isna().sum() > 0) | (df_n['total_comment_num'] == 0.0)).any():

    skus_with_no_comment.append(sku)
    total_rows_with_this_sku.append(len(df_n))

    rows_with_no_comment = len(df_n[(df_n['total_comment_num'].isna()) | (df_n['total_comment_num'] == 0.0)])
    rows_with_no_comment_under_this_sku.append(rows_with_no_comment)

    rows_with_comments = len(df_n) - rows_with_no_comment
    rows_with_comments_under_this_sku.append(rows_with_comments)

    # percentage_of_no_comment.append((df_n['total_comment_num'].isna().sum() / len(df_n)) * 100)
    percentage_of_no_comment.append((rows_with_no_comment / len(df_n)) * 100)

    highest_date_with_this_sku.append(df_n['date_key'].max().date())
    lowest_date_with_this_sku.append(df_n['date_key'].min().date())
    max_date_with_nocom.append(df_n.loc[df_n['total_comment_num'].isna(), 'date_key'].max().date())
    min_date_with_nocom.append(df_n.loc[df_n['total_comment_num'].isna(), 'date_key'].min().date())

    last_obs_far_value = 0
    last_obs_near_value = 0
    obs_near_close_to_30days_value = 0

    """
    last_obs_far.append()
    last_obs_near.append()
    obs_near_close_to_30days.append()
    """

    # last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - pd.to_datetime("today").date()).dt.days))
    last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - date).dt.days))

    last_obs_day_diffs.append(last_obs_day_diff)
    
    if (len(df_n) - rows_with_no_comment) > 1:
      if last_obs_day_diff > 45:
        last_obs_far_value = 1
        badscene_three_lst.append(sku)
      else:
        last_obs_near_value = 1
        badscene_four_lst.append(sku)

      
        # thirty_days_ago = datetime.today().date() - timedelta(days=30)
        thirty_days_ago = date - timedelta(days=30)

        last_obs_day_diff30 = min(np.absolute((df_n['date_key'].dt.date - thirty_days_ago).dt.days))

        if last_obs_day_diff30 < 5:
          obs_near_close_to_30days_value = 1
          badscene_five_lst.append(sku)

    last_obs_far.append(last_obs_far_value)
    last_obs_near.append(last_obs_near_value)
    obs_near_close_to_30days.append(obs_near_close_to_30days_value)


    if rows_with_comments == 0:
      # badscene_skus.append(sku)
      badscene_one_lst.append(sku)

    if rows_with_comments == 1:
      # badscene_skus.append(sku)
      badscene_two_lst.append(sku)
  

  return create_dataframe(), create_badscene_df()


def get_data(i, f, df):

  skus_with_no_comment.clear()
  total_rows_with_this_sku.clear()
  rows_with_no_comment_under_this_sku.clear()
  rows_with_comments_under_this_sku.clear()
  percentage_of_no_comment.clear()
  highest_date_with_this_sku.clear()
  lowest_date_with_this_sku.clear()
  max_date_with_nocom.clear()
  min_date_with_nocom.clear()
  last_obs_far.clear()
  last_obs_near.clear()
  obs_near_close_to_30days.clear()
  last_obs_day_diffs.clear()
  

  uniques = list(set(df['sku']))

  for s in uniques[i:f]:
    dff = find_data(s, df)

  return dff


df_test, df_try = get_data(0, 1000, dfx)
# display(df_test)
display(df_try)

,badscenario_one,badscenario_two,badscenario_three,badscenario_four,badscenario_five
0,72497496064,26916683778,57662242818,100013965313,10030991802402
1,10023432093697,10041549652017,64831356946,10074718218,16144400473
2,60879273989,1952448575,63543443473,10030991802402,16144400474
3,68684349452,70066896969,100030480404,10671095868,46175092891
4,70223921164,52015399013,28705554462,100010033219,46175092892
5,71524417552,57664077937,60038053930,100021567560,46175092893
6,10032823402513,10029034373330,60038053931,16144400473,46175092894
7,10032823402512,64532775212,60038053932,16144400474,10025651667409
8,71224524825,17745314100,10043335639102,10026064019546,10025651667408
9,10035736084515,28663874016,1952448576,11670913144,67806167562
10,10035736084516,66790621745,100010033221,10038326591616,71902954048
11,10035736084517,71902954047,70066896968,10038326591617,71902954049
12,10035736084518,69653496431,70066896970,16593715330,100016849512
13,69428314149,63854609115,12571639889,10038326591618,100016849534
14,10031492235304,69035885315,10026381433525,100028645502,71968490327
15,10031492235305,71975830326,52015399014,10030486126734,10034604145232
16,10031492235306,14647821196,56214945893,46175092891,100006888420
17,10041578749998,37403493268,10035675791468,46175092892,48149300197
18,10031492235307,10029499941816,25565069435,46175092893,100006888444
19,10040943837229,10033775510557,70529581181,46175092894,1981285382
20,10041578749997,57444140068,70529581182,10026412408989,41138258962
21,10041578749996,47713879196,10033185161368,10026412408988,41138258963
22,10040815622726,55767205102,11065622691,10022816579754,41138258965
23,10031492235308,10041255003430,57672728747,10022816579753,100001645604
24,66297004077,10027740693817,25150095532,30128734404,10494149714
25,10024937324598,1762395536,25150095531,10028680216765,10032539870386
26,10040815622727,26814449159,1988886711,36522164504,787623
27,10041578749999,36970694187,1988886712,52093518121,787633
28,10031187099698,66329249341,1988886713,55125475628,55143826610
29,10043335639104,54041511511,1988886714,10024763785521,787648
30,10043335639106,1966081687,1988886716,10024763785524,67804333249
31,10043335639103,1966081689,1988886717,10024763785523,787656
32,10043335639107,1966081692,54979199165,32277528882,10025482323208
33,10022610796615,56205248250,32953598143,42216194392,7079196

# Finding the skus under bad scenarios

In [ ]:
#####################################

from pandas.core.arrays import datetimes

skus_with_no_comment = []
total_rows_with_this_sku = []
rows_with_no_comment_under_this_sku = []
rows_with_comments_under_this_sku = []
percentage_of_no_comment = []
highest_date_with_this_sku = []
lowest_date_with_this_sku = []
max_date_with_nocom = []
min_date_with_nocom = []
last_obs_far = []
last_obs_near = []
obs_near_close_to_30days = []
last_obs_day_diffs = []



def create_dataframe():

  df_create = pd.DataFrame(list(zip(skus_with_no_comment, total_rows_with_this_sku, rows_with_no_comment_under_this_sku, 
                              rows_with_comments_under_this_sku, percentage_of_no_comment, 
                              last_obs_day_diffs, last_obs_far, last_obs_near, obs_near_close_to_30days,
                              highest_date_with_this_sku, lowest_date_with_this_sku, 
                              max_date_with_nocom, min_date_with_nocom)), 
                     columns = ["sku", "total_rows", "rows_with_no_comment", "rows_with_comments", "no_comment_percentage", 
                                "last_obs_day_diff", "last_obs_far", "last_obs_near", "obs_near_close_to_30days", 
                                "highest_date", "lowest_date", 
                                "max_date_with_nocom", "min_date_with_nocom"])
  # df_create = df_create.set_index("sku")

  return df_create




def find_data(sku, df):

  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  # date = pd.to_datetime("today").date()
  
  date = "2021-10-12"  # Format: YYYY-MM-DD
  date = datetime.strptime(date, '%Y-%m-%d').date()
  
  # if df_n['total_comment_num'].isna().sum() > 0 or df_n['total_comment_num'] == 0.0:
  if ((df_n['total_comment_num'].isna().sum() > 0) | (df_n['total_comment_num'] == 0.0)).any():

    skus_with_no_comment.append(sku)
    total_rows_with_this_sku.append(len(df_n))

    rows_with_no_comment = len(df_n[(df_n['total_comment_num'].isna()) | (df_n['total_comment_num'] == 0.0)])
    rows_with_no_comment_under_this_sku.append(rows_with_no_comment)

    rows_with_comments = len(df_n) - rows_with_no_comment
    rows_with_comments_under_this_sku.append(rows_with_comments)

    # percentage_of_no_comment.append((df_n['total_comment_num'].isna().sum() / len(df_n)) * 100)
    percentage_of_no_comment.append((rows_with_no_comment / len(df_n)) * 100)

    highest_date_with_this_sku.append(df_n['date_key'].max().date())
    lowest_date_with_this_sku.append(df_n['date_key'].min().date())
    max_date_with_nocom.append(df_n.loc[df_n['total_comment_num'].isna(), 'date_key'].max().date())
    min_date_with_nocom.append(df_n.loc[df_n['total_comment_num'].isna(), 'date_key'].min().date())

    last_obs_far_value = 0
    last_obs_near_value = 0
    obs_near_close_to_30days_value = 0

    """
    last_obs_far.append()
    last_obs_near.append()
    obs_near_close_to_30days.append()
    """

    # last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - pd.to_datetime("today").date()).dt.days))
    last_obs_day_diff = min(np.absolute((df_n['date_key'].dt.date - date).dt.days))

    last_obs_day_diffs.append(last_obs_day_diff)
    
    if (len(df_n) - rows_with_no_comment) > 1:
      if last_obs_day_diff > 45:
        last_obs_far_value = 1
      else:
        last_obs_near_value = 1

      
        # thirty_days_ago = datetime.today().date() - timedelta(days=30)
        thirty_days_ago = date - timedelta(days=30)

        last_obs_day_diff30 = min(np.absolute((df_n['date_key'].dt.date - thirty_days_ago).dt.days))

        if last_obs_day_diff30 < 5:
          obs_near_close_to_30days_value = 1

    last_obs_far.append(last_obs_far_value)
    last_obs_near.append(last_obs_near_value)
    obs_near_close_to_30days.append(obs_near_close_to_30days_value)
  

  return create_dataframe()


def get_data(i, f, df):

  skus_with_no_comment.clear()
  total_rows_with_this_sku.clear()
  rows_with_no_comment_under_this_sku.clear()
  rows_with_comments_under_this_sku.clear()
  percentage_of_no_comment.clear()
  highest_date_with_this_sku.clear()
  lowest_date_with_this_sku.clear()
  max_date_with_nocom.clear()
  min_date_with_nocom.clear()
  last_obs_far.clear()
  last_obs_near.clear()
  obs_near_close_to_30days.clear()
  last_obs_day_diffs.clear()
  

  uniques = list(set(df['sku']))

  for s in uniques[i:f]:
    df_get = find_data(s, df)

  return df_get


def all_bad_scenes(df):
  df_all = df.loc[(df['rows_with_comments'] == 0) | (df['rows_with_comments'] == 1) | (df['last_obs_far'] == 1) | (df['last_obs_near'] == 1)
                    | df['obs_near_close_to_30days'] == 1]

  return df_all


def bad_scene1(df):
  df_bad1 = df.loc[(df['rows_with_comments'] == 0)]
  df_bad1['sku'].to_csv('badscenario_1.csv', mode='a', index=False, header=False)


  return df_bad1


def bad_scene2(df):
  df_bad2 = df.loc[(df['rows_with_comments'] == 1)]
  df_bad2['sku'].to_csv('badscenario_2.csv', mode='a', index=False, header=False)


  return df_bad2


def bad_scene3(df):
  df_bad3 = df.loc[(df['last_obs_far'] == 1)]
  df_bad3['sku'].to_csv('badscenario_3.csv', mode='a', index=False, header=False)


  return df_bad3


def bad_scene4(df):
  df_bad4 = df.loc[df['last_obs_near'] == 1]
  df_bad4['sku'].to_csv('badscenario_4.csv', mode='a', index=False, header=False)


  return df_bad4


def bad_scene5(df):
  df_bad5 = df.loc[df['obs_near_close_to_30days'] == 1]
  df_bad5['sku'].to_csv('badscenario_5.csv', mode='a', index=False, header=False)


  return df_bad5

In [ ]:
df_test = get_data(150001, 152722, dfx)
print(len(df_test))

df1 = bad_scene1(df_test)
print(len(df1))

df2 = bad_scene2(df_test)
print(len(df2))

df3 = bad_scene3(df_test)
print(len(df3))

df4 = bad_scene4(df_test)
print(len(df4))

df5 = bad_scene5(df_test)
print(len(df5))

2700
1613
102
593
392
116

In [ ]:
df1 = bad_scene1(df_test)
print(len(df1))

565

In [ ]:
df2 = bad_scene2(df_test)
print(len(df2))

35

In [ ]:
df3 = bad_scene3(df_test)
print(len(df3))

207

In [ ]:
df4 = bad_scene4(df_test)
print(len(df4))

184

In [ ]:
df5 = bad_scene5(df_test)
print(len(df5))

56

In [ ]:
%cd /content/drive/MyDrive/Office/rnd/SSv4/bad_scenarios

/content/drive/MyDrive/Office/rnd/SSv4/bad_scenarios

In [ ]:
len(uniques)

152722