In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
# Read Dataset
dfx1 = pd.read_excel("/content/drive/MyDrive/EDMI/compsaa_file2_20200101_20200630.xlsx")
dfx2 = pd.read_excel("/content/drive/MyDrive/EDMI/compsaa_file2_20200701_20201231.xlsx")
dfx3 = pd.read_excel("/content/drive/MyDrive/EDMI/compsaa_file2_20210101_20210630.xlsx")
dfx4 = pd.read_excel("/content/drive/MyDrive/EDMI/compsaa_file2_20210701_20211231.xlsx")
dfx5 = pd.read_excel("/content/drive/MyDrive/EDMI/compsaa_file2_20220101_20220228.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
# Get the values where total_comment_num is NaN | 0
dfx1_nocom = dfx1[(dfx1['total_comment_num'].isna()) | (dfx1['total_comment_num'] == 0.0)]
dfx2_nocom = dfx2[(dfx2['total_comment_num'].isna()) | (dfx2['total_comment_num'] == 0.0)]
dfx3_nocom = dfx3[(dfx3['total_comment_num'].isna()) | (dfx3['total_comment_num'] == 0.0)]
dfx4_nocom = dfx4[(dfx4['total_comment_num'].isna()) | (dfx4['total_comment_num'] == 0.0)]
dfx5_nocom = dfx5[(dfx5['total_comment_num'].isna()) | (dfx5['total_comment_num'] == 0.0)]

In [5]:
# dfx1
# Get the following values for all 5 datasets
skus = set(dfx1['sku'])
skus_nan = set(dfx1_nocom['sku'])
skus_no_nan = skus - skus_nan
print(len(skus), len(skus_nan), len(skus_no_nan)) # Need these values

56362 56258 104

In [6]:
# dfx2
# Get the following values for all 5 datasets
skus = set(dfx2['sku'])
skus_nan = set(dfx2_nocom['sku'])
skus_no_nan = skus - skus_nan
print(len(skus), len(skus_nan), len(skus_no_nan)) # Need these values

106323 103442 2881

In [7]:
# dfx3
# Get the following values for all 5 datasets
skus = set(dfx3['sku'])
skus_nan = set(dfx3_nocom['sku'])
skus_no_nan = skus - skus_nan
print(len(skus), len(skus_nan), len(skus_no_nan)) # Need these values

56683 56146 537

In [8]:
# dfx4
# Get the following values for all 5 datasets
skus = set(dfx4['sku'])
skus_nan = set(dfx4_nocom['sku'])
skus_no_nan = skus - skus_nan
print(len(skus), len(skus_nan), len(skus_no_nan)) # Need these values

62174 61649 525

In [9]:
# dfx5
# Get the following values for all 5 datasets
skus = set(dfx5['sku'])
skus_nan = set(dfx5_nocom['sku'])
skus_no_nan = skus - skus_nan
print(len(skus), len(skus_nan), len(skus_no_nan)) # Need these values

32693 31913 780